* {
  margin: auto;
  padding: 10px;
  text-align: center;
  background-color: grey;
}

.searchForm {
  display: flex;
  height: 400px;
  justify-content: center;
}

#searchbar {
  letter-spacing: 2px;
  border-width: 2px;
  text-shadow: 10px;
  border-color: #4adbd8;
  border-radius: 20px;
  background-color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 400px;
  padding: 10px;
}

/* #demo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}; */
