* {
  display: auto;
  margin: auto;
  justify-content: auto;
  text-align: center;

}

.nav {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

;

#searchbar {
  margin: auto;
  letter-spacing: 2px;
  border-width: 6px;
  border-color: #4adbd8;
  border-radius: 40px;
  background-color: #4adbd8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 80vw;
  padding: 10px;
}

container {
  display: auto;
  justify-content: c;
}